.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 0.7rem;
  background-color: #367dff;
  color: #fff;
  border-radius: 0.7rem;
  font-size: 0.26rem;
  margin: auto;
}
